body{

    background-color: #ffdd90;
    background-image: url("sol.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #66999;
}